.isometric-view {
  --sky-elm-color: #0f3b61;
  --sky-wtr-color: #85a158;
  --sky-car-color: #2a476a;
  --sky-brdg-color: #3f5118;
}

.flight-line {
  stroke-width: 2px;
  stroke: #ffffff;
  fill: rgba(255, 255, 255, 0.15);
}

.position-indicator {
  stroke: #ffffff;
  stroke-width: 1.5px;
  fill: rgba(0, 255, 0, 0.2);
}